* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
.main   {
    width: 100vw;
    height: 100vh;
    background-color: #FF7979;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 1110px;
    min-height: 560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left {
    width: 525px;
    height: 215px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}
.lup {
    width: 525px;
    height: 131px;
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    line-height: 55px; 
    letter-spacing: -0.521px;
}
.ldown {
    width: 525px;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
}
.right {
    width: 540px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.rup {
    width: 540px;
    height: 60px;
    border-radius: 10px;
    background: #5E54A4;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px; 
    letter-spacing: 0.268px;
    padding-top: 17px;
    margin-bottom: 24px;
}
.rup span {
    color: #FFF;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0.268px;
}
.rdown {
    width: 540px;
    min-height: 474px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
#forma {
    width: 460px;
    min-height: 394px;
}
input {
    width: 100%;
    height: 56px;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    padding: 15px 32px;
}
input.error {
    width: 100%;
    height: 56px;
    background-image: url(./Group\ 11.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
    background-size: 20px 20px;
}
button  {
    width: 100%;
    height: 59px;
    border: none;
    border-radius: 5px;
    background: #38CC8B;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}
button:hover {
    cursor: pointer;
    background-color: #77E2B3;
}
.text {
    color: #BAB7D4;
    text-align: center;
    font-size: 11px;
    font-weight: 500;
    line-height: 26px; 
}
.text .red {
    color: #FF7979;
    font-size: 11px;
    font-weight: 700;
    line-height: 26px;
}
.error {
    width: 100%;
    height: 20px;
    color: #FF7979;
    text-align: right;
    font-family: Poppins;
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}
@media (max-width: 1200px) {
    .main {
        height: 1004px;
    }
    .container {
        flex-wrap: wrap;
        justify-content: center;
        gap: 64px
    }
    .left {
        text-align: center;
    }
}
@media (max-width: 670px) {
    .container {
        height: 845px;
    }
    .left {
        width: 327px;
        height: 226px;
    }
    .lup {
        width: 327px;
        height: 80px;
        font-size: 28px;
        line-height: 36px;
    }
    .right {
        width: 327px;
        height: 555px;
    }
    .rup {
        width: 327px;
        height: 88px;
        padding: 18px 66px;
    }
    .rdown {
        width: 100%;
    }
    #forma {
        width: 279px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}